*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 85%;
}

body {
    margin: 30px;
    background-color: #f0f0f0;
    font-family: 'Roboto Mono', monospace;
    color: #444;
    overflow-x: scroll;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.header,
a.about:link,
a.about:visited {
    display: flex;
    justify-content: space-between;
    margin: 2em 2em 2em 4em;
    gap: 3em;
    text-transform: uppercase;
    /* text-align: center; */
}

.header {
    min-width: 700px;
}

label {
    display: inline-block;
}

.preferences {
    /* align-items: center; */
    padding: 2em 4em;
}

.preferences form .input {
    display: inline;
    max-width: 4em;
}

.reset-btn {
    width: 8em;
}

.btn {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
}

.abbreviations:link,
.abbreviations:visited {
    display: inline-block;
    text-decoration: none;
    background-color: tomato;
    color: black;
    padding: 0.1em;
}

a.about:link,
a.about:visited {
    background-color: #e67e22;
    padding: 0.5em;
    border-radius: 9px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    color: #444;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    align-items: center;
    min-height: 4em;
    max-height: 6em;
}

a.about:hover,
a.about:active {
    background-color: #cf711f;
}

.container,
.backdrop,
.textarea {
    width: 80em;
    height: 20em;
}

.instructions {
    margin: 4em;
    max-width: inherit;
}

.highlights,
textarea {
    padding: 0.5em;
    font: 1.0em/1.2em 'Roboto Mono', monospace;
    letter-spacing: 1px;
}

.container {
    display: block;
    margin: 0 auto;
    transform: translateZ(0);
    -webkit-text-size-adjust: none;
}

.backdrop {
    position: absolute;
    z-index: 1;
    border: 2px solid #685972;
    background-color: #fff;
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}

.clean * {
    background-color: yellow;
    color: #444;
}

.warning {
    background-color: red;
    padding: 1em;
    font-size: 1.4em;
}

.instructions-thesaurus {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
    gap: 2em;
}

/* .thesaurus {
    min-width: 200px;
} */

li {
    list-style: none;
}

.textarea {
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0;
    border: 2px solid #74637f;
    border-radius: 0;
    color: #444;
    background-color: transparent;
    overflow: auto;
    /* overflow-y: scroll; */
    resize: none;
    transition: transform 1s;
}

mark {
    border-radius: 3px;
    color: transparent;
    background-color: #b1d5e5;
}

span {
    border-radius: 3px;
    color: transparent;
    background-color: #e5b1b1;
}

object {
    border-radius: 3px;
    color: transparent;
    background-color: #b1e5b8;
}

data {
    border-radius: 3px;
    color: transparent;
    background-color: #e2e5b1;
}

button {
    display: block;
    width: auto;
    margin: 3em auto 0;
    padding: 1em;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #74637f;
    font: 18px 'Opens Sans', sans-serif;
    letter-spacing: 1px;
    appearance: none;
    cursor: pointer;
    text-align: center;
}

.btn-thesaurus {
    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
}

textarea:focus,
button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #c6aada;
}

.abbrs {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.abbrs-stuff {
    margin-left: 4em;
}

.abbrsarea {
    display: flex;
    width: 80%;
    height: 20em;
    resize: none;
}

footer {
    margin-top: 3em;
}

/* Thesaurus styling */
#contextMenu {
    position: fixed;
    background: #74637f;
    color: white;
    cursor: pointer;
    border: 1px black solid
}

#contextMenu>p {
    padding: 0 1rem;
    margin: 0
}

#contextMenu>p:hover {
    background: #e67e22;
    color: white;
}

/* Dark mode */
.dark,
.dark .input {
    background-color: #444;
    color: #aaa;
}

.dark .textarea {
    background-color: rgba(0,0,0,0.2);
    color: #444;
}

.dark #abbrsarea {
    background-color: #aaa;
    color: #444;
}

.dark img {
    filter: brightness(70%);
}